/* Navbar */

.navbar {
    background-color: #021728;
    height: 50px;
    border-radius: 0;
}

.home .navbar {
    text-align: center;
}

.rwd-break {
    display: none;
}

/* Home */

.home {
    background-image: url('../img/mapaFondo.png');
    background-repeat: no-repeat;
    background-position: right 175px;
    background-color: #FFF;
    background-image: url('../img/mapaFondo.png'), -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#AED7C9)); /* Saf4+, Chrome */
    background-image: url('../img/mapaFondo.png'), -webkit-linear-gradient(top, #FFF, #AED7C9); /* Chrome 10+, Saf5.1+ */
    background-image: url('../img/mapaFondo.png'),    -moz-linear-gradient(top, #FFF, #AED7C9); /* FF3.6+ */
    background-image: url('../img/mapaFondo.png'),     -ms-linear-gradient(top, #FFF, #AED7C9); /* IE10 */
    background-image: url('../img/mapaFondo.png'),      -o-linear-gradient(top, #FFF, #AED7C9); /* Opera 11.10+ */
    background-image: url('../img/mapaFondo.png'),         linear-gradient(top bottom, #FFF, #AED7C9); /* W3C */
}

.home header {
    margin-top: 257px;
    text-align: center;
}

.home header h1 {
    font-size: 27px;
    font-weight: normal;
    font-style: italic;
}

.home header h1 span.first {
    color: #B5014B;
}

.home header h1 span.second {
    color: #B5014B;
    font-size: 35px;
}

.home .world {
    position: relative;
    margin-top: 55px;
    height: 402px;
    overflow: hidden;
}

.home .world img {
    margin: 0 auto;
}

.home .world .doit {
    background-color: #B5014B;
    color: #FFF;
    box-shadow: 5px 5px 10px #000;
    border-radius: 5px;
    font-size: 28px;
    padding: 5px 15px 10px 14px;
    left: 50%;
    margin-left: -128px;
    position: absolute;
    top: 52%;
}

/* How */

.how {
    background-color: #B5014B;
    background-image: url('../img/mapaFondo.png');
    background-repeat: no-repeat;
    background-position: right 175px;
    overflow: hidden;
}

.how .world {
    margin-top: -477px;
}

.how .world img {
    margin: 0 auto;
}

.how .container > header {
    margin-bottom: 35px;
}

.how .container > header h1 {
    color: #06D1F9;
    font-style: italic;
    font-size: 42px;
}

.how article .image-container {
    height: 100px;
}

.how article header h1 {
    color: #FFF;
    font-size: 42px;
    font-weight: normal;
}

.how article p {
    color: #FFF;
    font-size: 13px;
    padding: 5px 60px;
}

.how article p span {
    color: #06D1F9;
}

.how article.delivery a {
    color: #000;
    background-color: #FFF;
    padding: 5px 25px 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 24px;
    text-decoration: none;
    box-shadow: 3px 3px 10px #000;
    position: relative;
}

.how article.delivery a:after {
    right: -41px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0px;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #FFF;
    border-width: 21px;
    margin-top: -21px;
}

/* footer */

footer img, footer a {
    display: inline-block;
}

footer a {
    padding: 40px 10px 20px;
    color: #FFF;
    font-size: 9px;
}

footer a:hover {
    text-decoration: none;
    color: #FFF;
}

/* Responsive Tablets */

@media (max-width: 768px) {
    body { 
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar {
        text-align: center;
    }

    .rwd-break {
        display: block;
    }

    .navbar img {
        width: 190px;
    }
}

/* Extra Small Devices, Phones */
@media (max-width: 480px) {
    .navbar img {
        width: 175px;
    }

    .home header {
        margin-top: 215px;
    }

    .home header h1 {
        font-size: 16px;
    }

    .home header h1 span.second {
        font-size: 20px;
    }

    .home .world .doit {
        font-size: 14px;
        padding: 3px 6px 3px 6px;
        margin-left: -63px;
    }
}

