body {
    font-family: 'Muli', Arial;
}

/* Navbar */
.navbar {
    background-color: #021728;
    height: 50px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar .collapse {
    margin-left: 177px;
}

.navbar img {
    margin-top: -1px
    z-index: 1;
}

.home .navbar {
    text-align: center;
}

.home .navbar .logo2 {
    position: absolute;
    left: 0;
}

.rwd-break {
    display: none
}

/* Home */
.home {
    background-image: url(../img/mapaFondo.png);
    background-repeat: no-repeat;
    background-position: right 175px;
    background-color: #FFF;
    background-image: url(../img/mapaFondo.png), -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#57BF90));
    /* Saf4 , Chrome */
    background-image: url(../img/mapaFondo.png), -moz-linear-gradient(top, #FFF, #57BF90);
    background-image: url(../img/mapaFondo.png), -o-linear-gradient(top, #FFF, #57BF90);
    background-image: url(../img/mapaFondo.png), -webkit-linear-gradient(top, #FFF, #57BF90);
    background-image: url(../img/mapaFondo.png), -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(1, #57BF90));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFF, EndColorStr=#57BF90)";
    background-image: url(../img/mapaFondo.png), linear-gradient(top, #FFF, #57BF90);
    /* Chrome 10 , Saf5.1  */
    background-image: url(../img/mapaFondo.png), -moz-linear-gradient(top, #FFF, #57BF90);
    background-image: url(../img/mapaFondo.png), -o-linear-gradient(top, #FFF, #57BF90);
    background-image: url(../img/mapaFondo.png), -webkit-linear-gradient(top, #FFF, #57BF90);
    background-image: url(../img/mapaFondo.png), -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(1, #57BF90));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFF, EndColorStr=#57BF90)";
    background-image: url(../img/mapaFondo.png), linear-gradient(top, #FFF, #57BF90);
    /* FF3.6  */
    background-image: url(../img/mapaFondo.png), -moz-linear-gradient(top, #FFF, #57BF90);
    background-image: url(../img/mapaFondo.png), -o-linear-gradient(top, #FFF, #57BF90);
    background-image: url(../img/mapaFondo.png), -webkit-linear-gradient(top, #FFF, #57BF90);
    background-image: url(../img/mapaFondo.png), -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(1, #57BF90));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFF, EndColorStr=#57BF90)";
    background-image: url(../img/mapaFondo.png), linear-gradient(top, #FFF, #57BF90);
    /* IE10 */
    background-image: url(../img/mapaFondo.png), -moz-linear-gradient(top, #FFF, #57BF90);
    background-image: url(../img/mapaFondo.png), -o-linear-gradient(top, #FFF, #57BF90);
    background-image: url(../img/mapaFondo.png), -webkit-linear-gradient(top, #FFF, #57BF90);
    background-image: url(../img/mapaFondo.png), -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(1, #57BF90));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFF, EndColorStr=#57BF90)";
    background-image: url(../img/mapaFondo.png), linear-gradient(top, #FFF, #57BF90);
    /* Opera 11.10  */
    background-image: url(../img/mapaFondo.png), -moz-linear-gradient(top bottom, #FFF, #57BF90);
    background-image: url(../img/mapaFondo.png), -o-linear-gradient(top bottom, #FFF, #57BF90);
    background-image: url(../img/mapaFondo.png), -webkit-linear-gradient(top bottom, #FFF, #57BF90);
    background-image: url(../img/mapaFondo.png), -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(1, #57BF90));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFF, EndColorStr=#57BF90)";
    background-image: url(../img/mapaFondo.png), linear-gradient(top bottom, #FFF, #57BF90);
    /* W3C */
}

.home header {
    margin-top: 290px;
    text-align: center;
    margin-bottom: 55px;
}

.home header h1 {
    font-size: 27px;
    font-weight: normal;
    font-style: italic
}

.home header h1 span.first {
    color: #B8194B
}

.home header h1 span.second {
    color: #B8194B;
    font-size: 35px
}

.home .world {
    position: relative;
    padding-top: 54px;
}

.home .world img {
    margin: 0 auto;
}

.home .world .doit {
    background-color: #B8194B;
    color: #FFF;
    -moz-box-shadow: 5px 5px 10px #000;
    -webkit-box-shadow: 5px 5px 10px #000;
    box-shadow: 5px 5px 10px #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 28px;
    padding: 5px 15px 10px 14px;
    left: 50%;
    margin-left: -128px;
    position: absolute;
    top: 33%;
    z-index: 1;
}

.doit2-wrapper .doit2 {
    background-color: #B8194B;
    color: #FFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 28px;
    padding: 5px 15px 10px 14px;
    margin-top: 38px;
    display: inline-block
}

.doit2-wrapper {
    margin-bottom: 25px;
}

.do {
    cursor: pointer;
}

/* How */
.how {
    background-color: #B8194B;
    background-image: url(../img/mapaFondo.png);
    background-repeat: no-repeat;
    background-position: right 175px;
    margin-top: -304px;
    padding-top: 304px;
    padding-bottom: 60px;
}

.how .world img {
    margin: 0 auto
}

.how .container > header {
    margin-bottom: 35px;
    margin-top: 60px;
}

.how .container > header h1 {
    color: #00DAF5;
    font-style: italic;
    font-size: 42px
}

.how article .image-container {
    height: 150px;
    width: 129px;
    margin: 0 auto;
}

.how article .image-container img {
    margin-top: 45px;
}

.how article header h1 {
    color: #FFF;
    font-size: 42px;
    font-weight: normal
}

.how article p {
    color: #FFF;
    font-size: 13px;
    padding: 5px 60px
}

.how article p a, .how article p a:active, .how article p a:hover {
    color: #FFF;
}

.how article p span, .how article p span a, .how article p span a:active, .how article p span a:hover {
    color: #00DAF5
}

.how article p a {
    text-decoration: none;
}

.how article.delivery .button {
    color: #000;
    background-color: #FFF;
    padding: 5px 25px 8px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    font-size: 24px;
    text-decoration: none;
    -moz-box-shadow: 3px 3px 10px #000;
    -webkit-box-shadow: 3px 3px 10px #000;
    box-shadow: 3px 3px 10px #000;
    position: relative
}

.how article.delivery .button:after {
    right: -41px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #FFF;
    border-width: 21px;
    margin-top: -21px
}

/* footer */
footer img, footer a {
    display: inline-block
}

footer a {
    padding: 40px 10px 20px;
    color: #FFF;
    font-size: 9px
}

footer a:hover {
    text-decoration: none;
    color: #FFF
}

.footer-img {
    width: 100%;
    height: 105px;
    background-image: url("../img/footer.jpg");
    background-size: cover;
    background-position: bottom left;
}

.varita {
    height: 150px;
    width: 129px;
    display: block;
    background: url("../img/spriteVarita1.png") left center;
    cursor: pointer;
}

.play {
    -webkit-animation: play .7s steps(5);
    animation: play .7s steps(5);
}

@keyframes play {
    100% { background-position: -645px; }
}

@-webkit-keyframes play {
    100% { background-position: -645px; }
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
   color: black;
}

input:-moz-placeholder, textarea:-moz-placeholder{ /* Firefox 18- */
   color: black;
}

input::-moz-placeholder, textarea::-moz-placeholder {  /* Firefox 19+ */
   color: black;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
   color: black;
}

/* Contact us */

.contact {
    background-color: #79BFB0;
    color: #001727;
}

.contact header {
    margin: 120px 0 60px 0;
    clear: both;
}

.contact header h1 {
    font-size: 42px;
    font-weight: normal;
    font-style: italic;
}

.contact .map {
    margin-top: 40px;
    padding: 0 20px;
}

.contact .map p {
    margin-left: 10px;
}

.contact .map p span {
    color: black;
    padding-right: 10px;
}

.contact .form {
    color: black;
}

.contact .form input, .contact .form textarea {
    width: 100%;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 10px;
}

.contact .form a {
    color: #fff;
    background-color: #B8194B;
    padding: 5px 25px 8px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    font-size: 24px;
    text-decoration: none;
    -moz-box-shadow: 3px 3px 10px #000;
    -webkit-box-shadow: 3px 3px 10px #000;
    box-shadow: 3px 3px 10px #000;
    position: relative
}

.contact .form a:after {
    right: -41px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #B8194B;
    border-width: 21px;
    margin-top: -21px
}

.contact .form form {
    margin-top: 30px;
}

.circles-img {
    float: right;
    margin-top: -267px;
}

.contact {
    margin-top: -254px;
}

/* About Us */

.menu_about {
    display: none;
}

.about, .tech {
    display: none;
    background-color: #e4f9fd;
    background-image: url(../img/mapaFondo.png);
    background-repeat: no-repeat;
    background-position: right 175px;
}

.about header h1, .tech header h1 {
    font-style: italic;
    font-weight: normal;
    text-align: center;
    font-size: 42px;
    padding: 20px 0;
}

.about .earth, .tech .earth {
    margin-top: -400px;
    text-align: center;
}

.about .earth img, .tech .earth img {
    margin: 0 auto;
}

.about .team div {
    text-align: center;
}

.about .team img {
    border-radius: 50%;
}

.about .team .info {
    text-align: left;
}

.about .team .position {
    margin-top: -13px;
    font-size: 12px;
}

.about .team .name {
    margin-top: 8px;
}

.about .team .card {
    padding: 5px 10px;
}

.about .team .info {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
}

.about .team .info.last {
    padding-left: 50px;
}

.about .team .row h1 {
    font-size: 11em;
    font-weight: normal;
    font-style: italic;
    color: #001726;
    opacity: .1;
}

.about .team .row h2 {
    color: #aac840;
    font-style: italic;
    font-size: 4em;
    font-weight: normal;
}

.about .team .big-circle, .tech .big-circle {
    position: absolute;
    left: -84px;
}

.about .advisory {
    margin-top: 50px;
}

.about .circles-img {
    margin-bottom: -110px;
}

/* Partners */

.partners {
    background-color: #B8194B;
    height: 1250px;
}

.partners .white-circles {
    position: absolute;
    right: 0;
    margin-top: -300px;
}

.about .partners h1 {
    font-size: 11em;
    font-weight: normal;
    font-style: italic;
    color: #001726;
    opacity: .1;
    margin-top: 180px;
}

.partners h2 {
    font-size: 2em;
    margin-top: -8px;
    margin-bottom: 35px;
    color: white;
    opacity: .4;
}

.partners .content .info {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    color: white;
    font-size: 2em;
    height: 100px;
}

.partners .partner {
    text-align: center;
}

.partners .partner img {
    margin: 0 auto;
}

/* Our Technology */

.tech .info {
    background-color: rgba(255, 255, 255, .6);
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.tech .container h2 {
    font-size: 4em;
    font-weight: normal;
    font-style: italic;
    color: #001726;
    opacity: .1;
    text-align: center;
}

.tech .number {
    margin-bottom: 50px;
}

.tech .text {
    font-size: 1.9em;
    margin-top: 69px;
}

.tech .int {
    font-size: 12em;
    color: #001726;
    opacity: .1;
    text-align: right;
    margin-right: -32px;
    margin-top: -8px;
    margin-left: 32px;
}

.tech .arrow {
    position: absolute;
    left: 0;
    margin-top: 80px;
    width: 18%;
    height: 54px;
}

.tech .circles-img {
    margin-bottom: -110px;
}

.graphic {
    background-color: #B8194B;
    height: 900px;
}

.graphic .white-circles {
    position: absolute;
    right: 0;
    margin-top: -300px;
}

.graphic .items {
    height: 646px;
}

.graphic .items div {
    border-right: 1px solid rgb(109,1,40);
    height: 100%;
    text-align: center;
}

.graphic .items div:last-child {
    border-right: none;
}

.graphic .items .item3 {
    padding-top: 167px;
}

.graphic .items .item1, .graphic .items .item2, .graphic .items .item4, .graphic .items .item5 {
    padding-top: 263px;
}

.graphic .items p {
    color: white;
    opacity: .5;
    font-style: italic;
    margin-top: 20px;
}

.graphic .items .item1 p, .graphic .items .item5 p {
    font-size: 2em;
}

.graphic .items .item2 p, .graphic .items .item4 p {
    font-size: 1.5em;
}

.graphic .items .item1 {
    padding-right: 56px;
}

.graphic .items .arrow-izq {
    position: absolute;
    right: 0;
    top: 265px;
}

.graphic .items .arrow-der {
    position: absolute;
    left: 0;
    top: 265px;
}

.graphic .items .item5 {
    padding-left: 56px;
}


/* Responsive Tablets */

@media (max-width: 768px) {
    .index .home .navbar .logo2 {
        left: 50%;
        margin-left: -95px;
    }

    .rwd-break {
        display: block;
    }

    .navbar img {
        width: 190px;
    }

    .how {
        margin-top: -304px;
        padding-top: 304px;
    }

    .home, .how {
        background-size: contain;
    }

    .about .team .info {
        margin: 0 100px;
    }

    .about .earth, .tech .earth {
      margin-top: -304px;
    }

    .about .team .row h1 {
        font-size: 6em;
    }

    .about .team .row h2 {
        font-size: 2.5em;
    }

    .about .partners h1 {
        font-size: 8em;
        margin-top: 120px;
    }

    .partners h2 {
        font-size: 1.5em;
    }

    .partners .content .info {
        font-size: .9em;
        height: 64px;
    }

    .partners {
        height: 1100px;
    }
}

@media (max-width: 600px) {
    .how {
        margin-top: -250px;
        padding-top: 250px;
    }

    .about .earth, .tech .earth {
      margin-top: -250px;
    }
}

/* Extra Small Devices, Phones */
@media (max-width: 480px) {
    .navbar img {
        width: 160px;
    }

    .index .home .navbar .logo2 {
        left: 50%;
        margin-left: -80px;
    }

    .home header {
        margin-top: 215px;
    }

    .home header h1 {
        font-size: 18px;
    }

    .home header h1 span.second {
        font-size: 23px;
    }

    .home .world .doit {
        font-size: 14px;
        padding: 3px 6px 3px 6px;
        margin-left: -63px;
    }

    .how {
        margin-top: -200px;
        padding-top: 200px;
    }

    .how article p {
        color: #FFF;
        font-size: 13px;
        padding: 5px 15px;
    }

    .how .container > header {
        margin-top: 50px;
    }

    .contact header {
        margin: 60px 0 30px 0;
        clear: both;
    }

    .how article.delivery .button {
        font-size: 19px;
    }

    .how article.delivery .button:after {
        border-width: 18px;
        margin-top: -18px;
        right: -36px;
    }

    .contact .map p {
        font-size: 12px;
    }

    .about .team .info {
        margin: 0 50px;
    }

    .about .earth, .tech .earth {
      margin-top: -200px;
    }

    .about .partners h1 {
        font-size: 5em;
        margin-top: 120px;
    }

    .about .partners {
        height: 900px;
    }

}

@media (max-width: 450px) {
    .how {
        margin-top: -180px;
        padding-top: 180px;
    }

    .about .team .info {
        margin: 0 25px;
    }

    .about .earth, .tech .earth {
      margin-top: -180px;
    }
}

@media (max-width: 400px) {
    .how {
        margin-top: -166px;
        padding-top: 166px;
    }

    .about .earth, .tech .earth {
      margin-top: -166px;
    }

    .about .team .row h1 {
        font-size: 6em;
    }

    .about .team .row h2 {
        font-size: 2.5em;
    }

    .about .partners h1 {
        font-size: 4em;
        margin-top: 120px;
    }

    .partners h2 {
        font-size: 1em;
    }

    .partners .content .info {
        font-size: .9em;
        height: 64px;
    }

    .partners {
        height: 840px;
    }
}

/* Bootstrap */

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #021728;
}

.nav .dropdown-menu {
    background-color: #021728;
    height: 100vh;
}

.dropdown-menu>li>a {
    color: #337ab7;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: -1px;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    background-color: #021728;
}

.dropdown-menu>li {
    border-bottom: 1px solid #337ab7;
    padding: 6px;
}

.dropdown-menu>li>a:hover {
    background-color: #021728;
    color: white;
}
